{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	basic_auth {
		{$CADDY_BASIC_AUTH_USER} {$CADDY_BASIC_AUTH_HASH}
	}

	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy frontend:80
}
